.product-side {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.product-list {
  overflow: auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 30px;
  row-gap: 30px;
}

@media screen and (min-width: 768px) {
  .product-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 960px) {
  .product-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1200px) {
  .product-list {
    grid-template-columns: repeat(4, 1fr);
  }
}