.product {
  transition: .1s ease-out;
  border: 1px solid transparent;
  overflow: hidden;
  border-radius: 5px;
}

.product:hover {
  background-color: rgb(221, 236, 255);
  border-color: rgb(149, 198, 255);
}

.product-info {
  display: block;
  padding-top: 30px;
}

.product .image {
  margin-left: 15px;
  margin-right: 15px;
  padding-bottom: 75%; /* 4:3 ratio */
  overflow: hidden;
  position: relative;
}

.product .image img {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.product .name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 18px;
  margin: 20px 15px 0;
  max-width: 100%;
}

.product .price {
  color: #c02020;
  font-size: 20px;
  font-weight: 700;
  margin: 0 15px;
  padding-bottom: 15px;
}